<form class="block-size" action="#">
    {% for block in blocks %}
        {% case block.type %}
            {% when 'email' %}
                <label class="input-label" for="user-email-{{ block.id }}">{{ block.settings.email_label }}</label>
                <input class="input-email" name="email" type="email" placeholder="Email" id="user-email-{{ block.id }}">           
            {% when 'text' %}
                <label class="input-label" for="user-textarea-{{ block.id }}">{{ block.settings.message_label }}</label>
                <textarea class="input-textarea" name="textarea" rows="5" placeholder="Message" id="user-textarea-{{ block.id }}"></textarea>      
        {% endcase %}
    {% endfor %}  
    <button class="button" type="submit">Submit</button>  
</form>   