{% liquid
    assign NS = 'contact-form'
%}

{% capture form_fields %}
    {% for block in blocks %}
        {% case block.type %}
        {% when 'email' %}
            <label class="{{ NS }}-label" for="user-email-{{ block.id }}">{{ block.settings.email_label }}</label>
            <input class="{{ NS }}-input" name="email" type="email" placeholder="Email" id="user-email-{{ block.id }}">
        {% when 'text' %}
            <label class="{{ NS }}-label" for="user-textarea-{{ block.id }}">{{ block.settings.message_label }}</label>
            <textarea class="{{ NS }}-input" name="textarea" rows="5" placeholder="Message" id="user-textarea-{{ block.id }}"></textarea>
        {% endcase %}
    {% endfor %}
{% endcapture %}
  
{% if form_fields != blank %}            
    <form class="{{ NS }}" action="#">
        {{ form_fields }}
        <button class="{{ NS }}-button" type="submit">Submit</button>  
    </form>
{% endif %}   