{% liquid
    assign NS = 'natural-divisors'
    assign cn = NS
    assign numbers = "16,4,20,44,25,0" | split: "," 
%}

{{ 'delimeters.css' | asset_url | stylesheet_tag }}
{% assign test = 'delimeters.css' | stylesheet_tag %}
{{ test }}
{{ test | asset_url}}


<div class="{{ cn }}-wrapper">
    {% for number in numbers %}
        <div class="{{ cn }}-inner">
            <h4 class="{{ cn }}-header">{{  "for value" | append: " " | append: 'another value' | upcase }}</h4>
            {% assign has_divisors = false %}
            {% assign divisor_range = (1..number) %}
            {% for value in divisor_range %}
                {% assign remainder = number | modulo: value %}
                {% if remainder == 0 %}
                    <p class="{{ cn }}-value">{{ value }}</p>
                    {% assign has_divisors = true %}
                {% endif %}  
            {% endfor %}
            {% unless has_divisors %}
                <p class="{{ cn }}-value">Нет делителей</p>
            {% endunless %}
        </div>
    {% endfor %}
</div> 