{% liquid
    assign NS = 'natural-divisors'
    assign cn = NS
    assign divisor_range_start = 1
%}

{{ 'delimeters.css' | asset_url | stylesheet_tag }}

{% assign values_array = section.settings.values | split: ',' %}

<div class="{{ cn }}-wrapper">
    {% for number in values_array %}
        <div class="{{ cn }}-inner">
            <h4 class="{{ cn }}-header">{{  "For value" | append: " " | append: number }}</h4>
            {% assign has_divisors = false %}
            {% assign divisor_range = (divisor_range_start..number) %}
            {% for value in divisor_range reversed %}
                {% assign remainder = number | modulo: value %}
                {% if remainder == 0 %}
                    <p class="{{ cn }}-value">{{ value }}</p>
                    {% assign has_divisors = true %}
                {% endif %}  
            {% endfor %}
            {% unless has_divisors %}
                <p class="{{ cn }}-value">Нет делителей</p>
            {% endunless %}
        </div>
    {% endfor %}
</div>