{{ 'exercise-wrapper.css' | asset_url | stylesheet_tag }}

{% liquid
    assign NS = 'exercise'
%}

<div class="{{ NS }}" >
    <div class="{{ NS }}-nav">
        {{ Nav }}
    </div>   
    
    <div class="{{ NS }}-content">
        {{ Content }}
    </div>
</div> 