<div>
    {% for block in blocks %}
        {% case block.type %}
            {% when 'heading' %}
                <h1 style="font-size:{{ block.settings.font_size }}px">
                    {{ block.settings.text-title  }}
                </h1>
            {% when 'subheading' %}
                <h5>
                    {{ block.settings.subheading }}
                </h5>
            {% when 'rich-text' %}
                <p>
                    {{ block.settings.rich-text }}
                </p>
            {% when 'buttons' %}
                {% if block.settings.button_link1 != blank %}
                    <a class="link" href="{{ block.settings.button_link1 }}">{{ block.settings.button_label1 }}</a>
                {% else %}
                    {% if block.settings.button_label1 != blank %}
                    <a class="link">{{ block.settings.button_label1 }}</a>
                    {% endif %}
                {% endif %}  

                {% if block.settings.button_link2 != blank %}
                    <a class="link" href="{{ block.settings.button_link2 }}">{{ block.settings.button_label2 }}</a>
                {% else %}
                {% if block.settings.button_label2 != blank %}
                    <a class="link">{{ block.settings.button_label2 }}</a>
                    {% endif %}
                {% endif %} 
        {% endcase %}
    {% endfor %}
</div>

<style>
    .link {
        font-size: .9rem;
        color: #fff;
        background-color: #9C9C9C;
        padding: .5rem;
        border-radius: 1rem;
        text-decoration: none;
    }
</style>