{{ 'filters-test.css' | asset_url | stylesheet_tag }}

{% comment %} фильтр remove {% endcomment %}
{% comment %} {% assign original_text = "Hello, World" %}
{% assign modified_text = original_text | remove: "," %}
{{ modified_text }} {% endcomment %}

{% comment %} фильтр concate {% endcomment %}
{% comment %} {% assign array1 = "1, 2, 3" | split: ", " %}
{% assign array2 = "4, 5, 6" | split: ", " %}
{% assign combined_array = array1 | concat: array2 %}
{{ combined_array }} {% endcomment %}

{% comment %} фильтр join {% endcomment %}
 {% comment %} {% assign test = '1,2,3' | split: ','%}
{{ test | join: '-'  }}  {% endcomment %}

{% comment %} фильтр first {% endcomment %}
{% comment %} {% assign test = 'a,b,c' | split: ',' %}
{{ test | first}} {% endcomment %}

{% comment %} фильтр last {% endcomment %}
{% comment %} {% assign test = '1,2,3' | split: ','%}
{{ test | last}} {% endcomment %}

{% comment %} фильтр uniq {% endcomment %}
{% comment %} {% assign test = '1,1,2,2,3,3,3' | split: ',' %}
{{ test | uniq }} {% endcomment %}

{% comment %} фильтр capitalize {% endcomment %}
 {% comment %} {% assign test = 'hello world' %}
{{ test | capitalize }}  {% endcomment %}

{% comment %} фильтр downcase {% endcomment %}
{% comment %} {% assign test = 'HELLO WORLD' %}
{{ test | downcase }} {% endcomment %}

{% comment %} фильтр sum {% endcomment %}
{% comment %} {% assign test = '5,5,5' | split: ',' %}
{{ test | sum }} {% endcomment %}

{% comment %} фильтр append prepend {% endcomment %}
{% comment %} {% assign number = 'world' | prepend: ' ' %}
{{ number | append: '!' | prepend: 'hello' }} {% endcomment %}

{% comment %} {% assign test = 'Hello world!' %}
<span>
    {{ test | highlight: 'world' }}
</span> {% endcomment %}

{% comment %} {{ 'test' | link_to: 'https://www.shopify.com' , 'hello' , class:"link" }}  {% endcomment %}
{% comment %} <a href="https://www.shopify.com" title="hello" class="link">test</a> {% endcomment %}

{% comment %} {% assign cap_test = '' %}

{% assign cap_test = test | capitalize %}
{{ test }}

{% assign test = 'hello,world' | split: ',' %}
{% assign first_word = test | first %}
{% assign last_word = test | last %}
{% assign space = ' ' %}

{{ test | first | append: ' ' | append: test[1] }} {% endcomment %}

{% comment %} {% assign test = (1..15) %} {% endcomment %}

{% comment %} {% for item in test %} {% endcomment %}


{% assign string = 'Hello world' | split: '' %}

{% capture value %}
    {% for item in string reversed %}
       {{ item }} 
    {% endfor %}
{% endcapture %}

{{ value }}

 

























{% schema %}
    {
        "name": "Filters_test",
        "settings": [
        ],
        "presets": [
            {
                "name": "Filters_test"
            }
        ]
    }
{% endschema %}