{{ 'exercises-4.css' | asset_url | stylesheet_tag }}

{% liquid
assign NS = 'exercise-four' 
%}

{% capture subheading_content %}
    <p class="text-subheading">{{ section.settings.subheading_text }}</p>
{% endcapture %}

{% capture solution %}
    <div 
    class="{{ NS }}-content" 
    style="
        {% if section.settings.use_bold_font %}--font-weight: bold;{% endif %}
            {% if section.settings.use_italic_font %}--font-style: italic;{% endif %}
                {% if section.settings.use_underline %}--text-decoration: underline;{% endif %}
                    --font-size: {{ section.settings.font_size }}px;
                    --width: {{ section.settings.section_width }}%;
                    --align-content: {{ section.settings.content_alignment }};"
    >
    <div class="{{ NS }}-inner">   
            {% render 'exercise-4', blocks: section.blocks %}
            
            {% if section.settings.subheading_position == 'top' %}
                {{ subheading_content }}
            {% endif %}  
                <h3 class="{{ NS }}-heading">{{ section.settings.heading_text }}</h3>
            {% if section.settings.subheading_position == 'bottom' %}
                {{ subheading_content }}
            {% endif %}       
            {% render 'contact-form', blocks: section.blocks %}
        </div>
    </div> 
{% endcapture %}

{% render 'section-wrapper', solution: solution %}

{% schema %}
    {
        "name": "Exercise 4",
        "limit": 1,
        
        "settings": [
            {
                "type": "checkbox",
                "id": "use_bold_font",
                "label": "Bold font",
                "default": false
            },
            {
                "type": "checkbox",
                "id": "use_italic_font",
                "label": "Italic font",
                "default": false
            },
            {
                "type": "number",
                "id": "font_size",
                "label": "Font size",
                "default": 20
            },
            {
                "type": "range",
                "id": "section_width",
                "min": 20,
                "max": 100,
                "step": 10,
                "unit": "%",
                "label": "Section width",
                "default": 100
            },
            {
                "type": "select",
                "id": "content_alignment",
                "label": "Content alignment",
                "options": [
                    {
                    "value": "left",
                    "label": "Left"
                    },
                    {
                    "value": "center",
                    "label": "Center"
                    },
                    {
                    "value": "right",
                    "label": "Right"
                    }
                ],
                "default": "left"
            },
            {
                "type": "text",
                "id": "heading_text",
                "label": "Heading",
                "default": "Heading text"
            },
            {
                "type": "checkbox",
                "id": "use_underline",
                "label": "Text underline",
                "default": false
            },
            {
                "type": "text",
                "id": "subheading_text",
                "label": "Subheading",
                "default": "Subheading text"
            },
            {
                "type": "radio",
                "id": "subheading_position",
                "label": "Subheading position",
                "options": [
                    {
                    "value": "top",
                    "label": "Top"
                    },
                    {
                    "value": "bottom",
                    "label": "Bottom"
                    }
                ],
                "default": "bottom"
            }
        ],
        "blocks": [
            {
                "type": "text",
                "name":"text-area",
                "limit": 1,
                "settings": [
                    {
                        "type": "text",
                        "id": "message_label",
                        "label": "Label",
                        "default": "Message"
                    }
                ]
            },
            {
                "type": "email",
                "name": "email",
                "limit": 1,
                "settings": [
                    {
                        "type": "text",
                        "id": "email_label",
                        "label": "Label",
                        "default": "Email"
                    } 
                ]
            }
        ],
        "presets": [
            {
                "name": "Exercise 4",
                "blocks": [
                    {
                        "type": "text"
                    },
                    {
                        "type": "email"
                    }
                ]

            }
        ],
        "enabled_on": {  
            "templates": ["index"]
       }
    }
{% endschema %}