{{ 'exercises-1.css' | asset_url | stylesheet_tag }}
{% render 'exercise-1' %}

{% liquid
    assign NS = 'exercise-one'    
    assign heading_color = section.settings.heading_color
%}

{% if section.settings.show_heading or section.settings.show_text %}
    <div class="{{ NS }}-content">
        {% if section.settings.show_heading %}
            <h3 class="{{ NS }}-heading" style="{% if section.settings.use_color %}
    
             --heading-color: {{ heading_color }};{% endif %}">
                {{ section.settings.heading }}
            </h3>
        {% endif %}    
                
        {% if section.settings.show_text %} 
            <p class="{{ NS }}-text" style="{% if section.settings.heading == blank %}--font-weight: bold;{% else %}--font-style: italic;{% endif %}">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
                Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. 
                Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. 
                Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
            </p>
        {% endif %}
    </div> 
{% endif %}


    
{% schema %}
    {
        "name": "Exercise 1",
        "settings": [
            {
                "type": "checkbox",
                "id": "show_heading",
                "default": true,
                "label": "Show heading"
            },
            {
                "id": "heading",
                "default": "Lorem ipsum",
                "type": "text",
                "label": "Heading"
            },
            {
                "type": "checkbox",
                "id": "use_color",
                "default": true,
                "label": "Use color"
            },
            {
                "type": "color",
                "id": "heading_color",
                "label": "Heading color",
                "default": "#FF0000"
            },
            {
                "type": "checkbox",
                "id": "show_text",
                "label": "Show text",
                "default": false
            }
        ],
        "presets": [
            {
                "name": "Exercise 1"
            }
        ]
    }
{% endschema %}